body{
    background: url(1.jpg);

    background-repeat: no-repeat;
    background-size: cover;

}
#a1{
    padding: 20px 75px;
    margin-top: 300px;
    margin-left: 600px;
    color: white;
    background-color: red;
    border-radius: 10px;
    font-size: 20px;
    border: none;
}
#a1:hover{
    background-color: purple;
}



